@import '../../css/public.scss';

// 关于我们 begin
.about-us{
  padding-top: 52px;
  text-align: center;
  img{
    width: 72px;
  }
  p{
    font-size: 13px;
    color: #666;
  }

}
.concat-type{
  width: 100%;
  line-hieght: 40px;
  a{
    font-size: 13px;
    color: #999;
  }
}
// 关于我们 end