@charset "UTF-8";
/**
奖金计算器
*/
.bouns-result {
  padding: 0 20px 20px; }
  .bouns-result .number-cont {
    min-height: 30px; }
    .bouns-result .number-cont em {
      width: 30px;
      height: 30px;
      border: none;
      line-height: 30px; }
      .bouns-result .number-cont em.red {
        background: #ff3939; }
      .bouns-result .number-cont em.blue {
        background: #167CE8; }

.issue-select {
  padding: 15px 0;
  box-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .issue-select img {
    width: 50px;
    height: 50px;
    margin-right: 15px; }
  .issue-select > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-flex: 1; }

.select {
  width: 100%;
  height: 34px;
  position: relative;
  overflow: hidden; }
  .select .select-val {
    width: 100%;
    height: 34px;
    padding-left: 15px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-image: url(../img/calculate/xialaxuanze.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 34px;
    background-clip: border-box;
    line-height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .select .datalist {
    width: 100%;
    position: absolute;
    top: 35px;
    left: 0;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out;
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0); }
    .select .datalist li {
      padding: 0 5px;
      margin-top: -1px; }
      .select .datalist li.active {
        background: rgba(0, 0, 0, 0.05); }
      .select .datalist li span {
        display: block;
        padding: 0 0 0 15px;
        line-height: 33px;
        color: #333;
        border-top: 1px solid #ddd; }

.select-number {
  background: #f4f4f4; }
  .select-number .number-block {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd; }
    .select-number .number-block dl {
      padding: 0 0.26667rem; }
  .select-number .number-title {
    padding: 16px 0;
    font-weight: 300; }
    .select-number .number-title em {
      font-size: 17px;
      padding-right: 14px; }

.number-cont {
  overflow: hidden;
  margin: -0.06667rem; }
  .number-cont .red-ball em {
    color: #ff3939; }
    .number-cont .red-ball em.active {
      background: #ff3939;
      color: #fff !important;
      border: none; }
  .number-cont .blue-ball em {
    color: #167CE8; }
    .number-cont .blue-ball em.active {
      background: #167CE8;
      color: #fff !important;
      border: none; }
  .number-cont em {
    width: 0.44rem;
    height: 0.44rem;
    margin: 0.06667rem;
    line-height: .44rem;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #bbb;
    font-size: 16px;
    float: left;
    color: #fff; }

.number-controll {
  height: 58px;
  padding: 0 20px;
  box-align: center;
  box-pack: justify;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.checkbox-btn .icon-arc {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: -4px; }

.checkbox-btn .icon-selected {
  border: none; }

.delete-btn .icon-delete {
  width: 29px;
  height: 29px;
  margin-right: 7px;
  background-image: url(../img/calculate/delete.png);
  vertical-align: -10px; }

.claculate-cont {
  width: 135px;
  padding: 35px 0 0;
  margin: 0 auto;
  overflow: hidden; }
  .claculate-cont .assertive-btn {
    width: 135px;
    height: 40px;
    margin-bottom: 33px;
    font-size: 16px;
    border-radius: 5px; }
    .claculate-cont .assertive-btn[disabled] {
      background: #ccc; }
  .claculate-cont .share-cont {
    width: 135px;
    padding: 0 0 18px;
    box-pack: justify;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .claculate-cont .share-cont img {
      width: 40px;
      height: 40px; }

/*
  算奖结果
*/
.modal-backdrop {
  background: rgba(0, 0, 0, 0.5); }

.popup-template {
  width: 4.33333rem;
  margin: auto;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .popup-template .header {
    height: 44px;
    padding: 0 15px;
    background: #ff3939;
    position: relative; }
    .popup-template .header h2 {
      font-size: 17px;
      color: #fff;
      line-height: 44px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      box-flex: 1; }
    .popup-template .header .close {
      position: absolute;
      width: 30px;
      font-size: 38px;
      color: #fff;
      top: 4px;
      right: 0; }
  .popup-template .show-result dl {
    margin: 0; }
  .popup-template .show-result .column-box {
    padding: 15px;
    pack-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
    font-weight: 300; }
    .popup-template .show-result .column-box img {
      width: 25px;
      height: 25px; }
    .popup-template .show-result .column-box h2 {
      margin: 0 10px 0 11px;
      font-size: 17px;
      color: #333;
      font-weight: 100; }
  .popup-template .show-result .show-number div {
    padding: 2.5px 15px;
    color: #333; }
  .popup-template .show-result .prize dt {
    padding: 14px 15px 5px;
    color: #333;
    font-weight: 300; }
  .popup-template .show-result .prize .prize-list li {
    display: box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f4f4f4; }
    .popup-template .show-result .prize .prize-list li:first-child span {
      color: #333; }
    .popup-template .show-result .prize .prize-list li:nth-of-type(even) {
      background: #fff; }
    .popup-template .show-result .prize .prize-list li span {
      display: block;
      width: 100%;
      box-flex: 1;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      border-left: 1px solid #ddd;
      text-align: center;
      line-height: 25px;
      flex-box: 1;
      flex: 1;
      font-size: 13px;
      white-space: nowrap; }
      .popup-template .show-result .prize .prize-list li span:first-child {
        border: none; }
  .popup-template .show-result .show-prize-cash {
    padding: 17px;
    text-align: center;
    color: #333; }
    .popup-template .show-result .show-prize-cash .icon-trophy {
      width: 18px;
      height: 20px;
      margin-right: 5px;
      vertical-align: -5px;
      background-image: url(../img/calculate/win.png); }
  .popup-template footer {
    padding: 10px 0 20px;
    text-align: center; }
