<ion-view view-title="修改密码">
    <ion-content class="reset-password">
        <h3 class="password-tips">为了您的账户安全, 请务必牢记您的密码</h3>
        <form name="registerForm" class="padding-20" ng-submit="formSub()" novalidate>
            <div class="list">
                <div class="password-wrapper">
                    <pass-word placeholder="请输入原密码" password="inputData.oldPassword">原密码:</pass-word><a ng-show="!inputData.oldPassword" class="go-forgetpassword c-red" href="#/tab/accountforgetpassword/account">忘记了?</a>
                </div>
                <pass-word placeholder="请输入新密码" password="inputData.password" error="密码格式不正确">新密码:</pass-word>
                <pass-word placeholder="请再一次输入新密码" password="inputData.repeatPassword" error="重复密码填写不正确" validate="inputData.password">重复输入:</pass-word>
                <p class="service-tel c-bbb">密码仅支持6~16位数字、字母、或数字与字母组合。
                    字母区分大小写 </p>
                <button type="submit" class="assertive-btn register-btn"  ng-disabled="registerForm.$invalid">确认</button>

            </div>
        </form>
    </ion-content>
</ion-view>