@charset "UTF-8";
.column-left-first {
  width: 60px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #fff;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  white-space: nowrap; }
  .column-left-first:nth-of-type(2n) {
    background: #f4f4f4; }

.scroll-box {
  overflow: auto;
  overflow-x: scroll;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.bonus-cycle-footer {
  display: block;
  position: fixed;
  padding: 0;
  border-top: 1px solid #ddd;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  overflow: hidden; }
  .bonus-cycle-footer .bonus-col {
    border-top: 1px solid #ddd;
    border-bottom: none !important; }
  .bonus-cycle-footer .scroll {
    overflow: visible !important; }
  .bonus-cycle-footer .column-left-first {
    border-top: 1px solid #ddd;
    border-bottom: none; }

.show-btn {
  height: 44px;
  padding: 2px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  color: #333; }
  .show-btn .icon-show-btn {
    width: 23px;
    height: 23px;
    background-image: url(../img/down-show-btn.png);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
    .show-btn .icon-show-btn.rotate180 {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }

.bonus-entry {
  background: #fff; }
  .bonus-entry a.activated {
    background: #f4f4f4; }
  .bonus-entry .entry-list {
    overflow: hidden; }
  .bonus-entry .col {
    width: 33.33333%;
    padding: 0;
    float: left;
    text-align: center;
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit; }
    .bonus-entry .col a {
      padding: 0.26667rem 0; }
    .bonus-entry .col img {
      width: 0.8rem; }
    .bonus-entry .col div {
      color: #333;
      font-size: 16px; }

.trend-scroll-style .scroll {
  width: 100%;
  padding-bottom: 82px; }

.trend-column {
  width: 100%;
  font-size: 12px;
  overflow: hidden; }
  .trend-column .column-header {
    position: relative;
    z-index: 9;
    height: 34px; }
    .trend-column .column-header .column-left-first {
      background: #f4f4f4;
      position: relative;
      z-index: 2; }
  .trend-column .column-row {
    display: box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .trend-column .column-body {
    display: box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff; }
  .trend-column .column-left-other {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-box: 1;
    overflow: visible !important; }

.bg-fdd9d9 {
  background: #FDD9D9 !important; }

.bg-FCF2CB {
  background: #FCF2CB !important; }

.bg-DEEEFF {
  background: #DEEEFF !important; }

.c-48D2A0 {
  color: #48D2A0 !important; }

.c-167CE8 {
  color: #167CE8; }

.full-screen .bonus-col {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.column-row {
  display: box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.bonus-row {
  display: box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible !important; }
  .bonus-row:nth-of-type(2n) .bonus-col {
    background: #f4f4f4; }
  .bonus-row.blue-trend .show-ball {
    background: #167CE8; }
  .bonus-row .bonus-col {
    display: box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-pack: center;
    box-align: center;
    width: 30px;
    height: 34px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #666;
    text-align: center;
    background: #fff; }
  .bonus-row .show-ball {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    border-radius: 12px;
    background: #ff3939;
    color: #fff; }

.select-num {
  height: 68px !important; }
  .select-num .column-left-first {
    height: 68px;
    line-height: 68px; }
  .select-num .select-num-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-flex: 1;
    overflow: hidden !important; }
    .select-num .select-num-box .bonus-row {
      border-top: 1px solid #fff; }

.select-num-box {
  display: felx;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  box-orient: vertical;
  width: 100%; }

html {
  overflow-y: auto;
  background: #f4f4f4; }

#chart {
  position: static;
  overflow-y: auto; }
  #chart .bonus-cycle-footer .trend-column {
    padding: 0 !important; }
  #chart .bonus-cycle-footer .scroll {
    transform: none;
    -webkit-transform: none; }
  #chart .bonus-trend {
    padding-bottom: 42px; }
  #chart .trend-column {
    padding-top: 110px; }
    #chart .trend-column canvas {
      margin-bottom: -6px; }
  #chart .spinner {
    display: block !important; }
  #chart .column-scroll-x {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll !important;
    -webkit-touch-scrolling: touch;
    -webkit-transform: none !important;
    transform: none !important; }
  #chart .view-container, #chart .scroll-content {
    position: static !important;
    width: 100%;
    height: 100%;
    background: #fff; }
    #chart .view-container *, #chart .scroll-content * {
      overflow: hidden; }
    #chart .view-container .bonus-trend *, #chart .scroll-content .bonus-trend * {
      overflow: visible; }
  #chart .bar-header {
    width: 100%;
    position: fixed;
    top: 0; }
  #chart .pane {
    position: static !important;
    transform: none !important;
    -webkit-transform: none !important;
    overflow: hidden; }
  #chart .tab-header-wrap {
    width: 100%;
    position: fixed;
    top: 44px !important;
    background: #fff;
    overflow: hidden;
    z-index: 1; }
  #chart .column-header {
    position: fixed;
    top: 77px !important;
    width: 100%;
    z-index: 1;
    overflow: visible !important; }
  #chart .bonus-cycle-footer {
    position: fixed;
    bottom: 0; }
  #chart .scroll {
    transform: none;
    -webkit-transform: none; }
  #chart.platform-webview.platform-ios .tab-header-wrap {
    top: 63px !important; }
  #chart.platform-webview.platform-ios .column-header {
    top: 96px !important; }
  #chart.platform-webview.platform-ios .trend-column {
    padding-top: 126px; }
  #chart.platform-webview.platform-ios .group {
    padding: 99px 0 48px; }
  #chart .group {
    padding: 77px 0 48px; }

/*快三 beging*/
.bouns-k3 {
  padding-top: 0 !important;
  background: #f4f4f4; }

.group dl {
  margin-bottom: 0;
  overflow: hidden !important; }
  .group dl dt {
    height: 34px;
    line-height: 34px;
    background: #FCF2CE;
    text-align: center;
    font-size: 15px;
    color: #333; }
  .group dl dd {
    padding-bottom: 15px;
    background: #f4f4f4; }

.block-box-list {
  padding: 7.5px;
  background: #fff;
  overflow: hidden !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  .block-box-list li {
    width: 50%;
    padding: 7.5px;
    float: left; }
  .block-box-list .box {
    height: 0;
    position: relative;
    padding-top: 90%;
    background-image: url(../img/bonustrend/shaizi.png?1);
    background-repeat: no-repeat;
    background-size: contain; }
  .block-box-list .label {
    position: absolute;
    top: -3%;
    right: 6%;
    width: 15%;
    height: 35%;
    padding: 1% 0 0 1%;
    line-height: 12px;
    background-image: url(../img/bonustrend/label.png);
    background-size: cover;
    font-size: 11px;
    color: #666;
    text-align: center; }
  .block-box-list .bouns-num {
    width: 100%;
    position: absolute;
    top: 8%;
    text-align: center;
    font-size: 25px;
    color: #fff; }
  .block-box-list .bouns-msg {
    width: 100%;
    border: 1px solid #FCB7B7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 58%;
    background-color: #FCEBDA;
    background-image: url(../img/bonustrend/jiangjin.png);
    background-repeat: no-repeat;
    background-position: 1% center;
    background-size: 30% 64%; }
    .block-box-list .bouns-msg .cash {
      width: 33%;
      padding-top: 12%;
      float: left;
      color: #fff;
      text-align: center; }
      .block-box-list .bouns-msg .cash em {
        font-size: 16px;
        white-space: nowrap; }
    .block-box-list .bouns-msg .msg-list {
      height: 100%;
      margin-left: 33%;
      border-left: 1px solid #fff; }
    .block-box-list .bouns-msg .msg-line {
      height: 33.3333%;
      padding: 12% 2%;
      line-height: 33.3333%;
      border-top: 1px solid #fff;
      font-size: 11px;
      color: #666; }
      .block-box-list .bouns-msg .msg-line em.item-note {
        font-size: 14px;
        color: #333; }

.group-more {
  width: 100%;
  height: 44px;
  position: fixed;
  bottom: 0px;
  overflow: visible !important; }

.group-header {
  position: relative;
  z-index: 8;
  text-align: center;
  line-height: 44px;
  color: #333;
  font-size: 15px;
  background: #fff; }

.icon-down-more {
  width: 0;
  height: 0;
  border-bottom: 4px solid #999;
  border-left: 4px solid #999;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  vertical-align: 3px !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }
  .icon-down-more.direction-up {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    vertical-align: -2px !important; }

.group-title-list {
  width: 100%;
  padding: 7.5px;
  background: #ddd;
  position: absolute;
  top: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  overflow: hidden; }
  .group-title-list div {
    width: 33.33333%;
    padding: 7.5px;
    float: left; }
  .group-title-list em {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    text-align: center;
    color: #666;
    background: #fff;
    float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
    white-space: nowrap; }
    .group-title-list em.active {
      border-color: #ff3939;
      color: #ff3939;
      background: #FFE7E7; }

@media (max-width: 360px) and (min-width: 320px) {
  .block-box-list .label {
    line-height: 11px;
    font-size: 10px; } }

/*快三 end*/
